<div class="back-breadcrumbs back-breadcrumbs-single breadcrumbs-courses__single">
    <div class="breadcrumbs-wrap">
        <img class="desktop" src="{{'assets/images/breadcrumbs/2.jpg'| theme }}" alt="Breadcrumbs">
        <img class="mobile" src="{{'assets/images/breadcrumbs/2.jpg'| theme }}" alt="Breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="container">
                <div class="breadcrumbs-text text-left">
                    <h1 class="breadcrumbs-title">{{ this.page.title }}</h1>
                    <div class="back-nav mt-30">
                        <ul>
                            <li><a href="{{'home'| page }}">Home</a></li>
                            <li><a href="{{'courses/courses'| page }}">Courses</a></li>
                            <li>{{ this.page.title }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>                
</div>