url = "/blog"
layout = "default"
title = "Blog"
==
{% component 'blogCategories' %}
<div class="back-wrapper">
    <div class="back-wrapper-inner">
        <!--================= Back Breadcrumbs Section Start Here =================-->
        {% partial 'breadcrumbs/breadcrumbs' %}
        <!--================= Back Breadcrumbs Section End Here =================-->

        <!--================= Blog Section Start Here =================-->
        <div class="back__blog__area back-blog-page pt-120 pb-115">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog-grid">
                            {% for post in blogPosts.posts %}
                                <div class="single-blog">
                                    <div class="inner-blog">
                                        <div class="blog-img">
                                            {% for image in post.featured_images| slice(0, 1) %}
                                            <img src="{{ image.path }}" alt="Blog Image">
                                            {% endfor %}
                                        </div>
                                        <div class="blog-content">
                                            <ul class="top-part">
                                                <li>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg> {{post.user.first_name}} {{post.user.last_name}}
                                                </li>
                                                <li class="date-part">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg> {{post.published_at| date('M d, Y')}}
                                                </li>
                                                <li>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg> 2 Comment
                                                </li>
                                            </ul>

                                            <h3 class="blog-title"><a href="{{post.url}}">{{ post.title }}</a></h3>
                                            <p class="blog-desc">{{ post.excerpt }}</p>
                                            <a href="blog-details.html" class="back-btn-border">Read More <i class="arrow_right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div> 
                        <!--================= Pagination Section End Here =================-->
                        <ul class="back-pagination">
                            <li><a href="blog.html#">1</a></li>
                            <li><a href="blog.html#">2</a></li>
                            <li><a href="blog.html#">3</a></li>
                            <li class="back-next"><a href="blog.html#">Next<i class="arrow_carrot-right"></i></a></li>
                        </ul>
                        <!--================= Pagination Section End Here =================-->  
                    </div>
                    <div class="col-lg-4">
                        <div class="back-sidebar pl-30 md-pl-0">
                            <div class="widget back-blog-search">
                                <h3 class="widget-title">Search</h3>
                                <form>
                                    <input type="text" name="input" placeholder="Search...">
                                    <button> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg> </button>
                                </form>
                            </div>
                            

                            <div class="widget">
                                <h3 class="widget-title">Categories</h3>
                                <ul class="recent-category">
                                    <li> <a href="blog.html#">Business <span class="category-count">4 posts</span></a></li>
                                    <li> <a href="blog.html#">Case study <span class="category-count">5 posts</span></a></li>
                                    <li> <a href="blog.html#">Insights <span class="category-count">8 posts</span></a></li>
                                    <li> <a href="blog.html#">World <span class="category-count">3 posts</span></a></li>
                                    <li> <a href="blog.html#">Tax Solutions <span class="category-count">7 posts</span></a></li>
                                    <li> <a href="blog.html#">Creative  <span class="category-count">6 posts</span></a></li>
                                </ul>
                            </div>

                            <div class="widget back-recent-comments">
                                <h3 class="widget-title">Comments</h3>
                                <ul class="recent-comments">
                                    <li>
                                        <span class="post-images"><img src="assets/images/course-single/user.jpg" alt="post"></span>
                                        <div class="titles">                                                    
                                            <h4>John Doe</h4>
                                            <span>14 January, 2022</span>
                                            <p>Having no content in  post should have adverse..</p>
                                        </div>
                                    </li>
                                    <li>
                                        <span class="post-images"><img src="assets/images/course-single/user2.jpg" alt="post"></span>
                                        <div class="titles">                                                    
                                            <h4>Chauffina Carr</h4>
                                            <span>10 April, 2022</span>
                                            <p>We use these tests all time! Killer stuff!</p>
                                        </div>                                               
                                    </li>
                                    <li>
                                        <span class="post-images"><img src="assets/images/course-single/user3.jpg" alt="post"></span>
                                        <div class="titles">
                                            <h4>Jim Séchen</h4>
                                            <span>16 July, 2022</span>
                                            <p>Thanks for all the comments, everyone!</p>
                                        </div>                                                
                                    </li>                                            
                                </ul>
                            </div>  

                                                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--================= Blog Section End Here =================-->
    </div>
</div>