{{ form_ajax('onSignin') }}
<ul class="social-links">
    <li><a href="login.html#"><span aria-hidden="true" class="social_facebook"></span></a></li>
    <li><a href="login.html#"><span aria-hidden="true" class="social_googleplus"></span></a></li>
</ul>
<span class="back-or"> ........ Or, sign in with your email ........ </span>
    <p>
        <label for="userSigninLogin">{{ loginAttributeLabel }}</label>
        <input
            name="login"
            type="text"
            class="form-control"
            id="userSigninLogin"
            placeholder="Enter your {{ loginAttributeLabel|lower }}" />
    </p>

    <p>
        <label for="userSigninPassword">Password</label>
        <input
            name="password"
            type="password"
            class="form-control"
            id="userSigninPassword"
            placeholder="Enter your password" />
    </p>

    {% if rememberLoginMode == 'ask' %}
    <div class="form-group">
        <div class="checkbox">
        <label><input name="remember" type="checkbox" value="1">Stay logged in</label>
        </div>
    </div>
    {% endif %}

    <button type="submit" class="btn btn-default">Log in</button>
    <em class="signup">New to Dlear? <a href="login.html#">Sign Up</a></em>

{{ form_close() }}
