title="About us"
url="about"
layout="default"
==
<div class="back-wrapper">
    <div class="back-wrapper-inner">
        <!--================= Back Breadcrumbs Section Start Here =================-->
        {% partial 'breadcrumbs/breadcrumbs'%}
        <!--================= Back Breadcrumbs Section End Here =================-->

        <!--================= Academic Section Start Here =================-->
        <div class="academic__area p-relative pb-65 pt-116">
            <div class="container academic__width">
                <div class="row">
                    <div class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 col-lg-6 offset-lg-3">
                        <div class="academic__title-wrapper text-center mb-60">
                            <h6 class="academic__pre-subtitle">Academics Programs</h6>
                            <h2 class="academic__title">
                                Our Academics Programs
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for program in company.academic_programs| slice(0, 4) %}
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="academic__container mb-50">
                            <div class="academic__wrapper">
                                <div class="academic__wrapper--image m-img">
                                    <img class="academic__wrapper--image-display" src="{{program.img| media }}" alt="Three people are standing">
                                </div>
                                <div class="academic__wrapper--icon-1">
                                    <img class="academic__wrapper--icon-1-middle" src="{{'assets/images/academic/icon/1.png'| theme }}" alt="icon">
                                </div>
                            </div>
                            <div class="academic__round-area-title text-center">
                                <h6 class="academic__round-area-title-1">{{ program.title }}</h6>
                                <p class="academic__round-area-title-2">{{ program.exerpt| raw }}</p>
                                <a class="academic__round-area-title-3" href="contact.html">Apply Now<i class="arrow_right academic__round-area-title-3--icon"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
        <!--================= Academic Section End Here =================-->

        <!--================= Brand Section Start Here =================-->
        {% partial 'brands' %}
        <!--================= Brand Section End Here =================-->

        <!--=================  About Section Start Here ================= -->
        {% partial 'about_section'%}
        <!--================= About Section End Here ================= -->

        <!--================= Call to Action Section Start Here =================-->
        <div class="cta__area p-relative m-img pt-120 pb-155">
            <div class="container cta__width">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="cta__wrapper text-center">
                            <h6 class="cta__pre-subtitle">Featured Courses</h6>
                            <h2 class="cta__title">Campus Information</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--================= Call to Action Section End Here =================-->

        <!--================= Feature Section Start Here =================-->
        <div class="feature__area">
            <div class="container feature__width">
                <div class="row">
                    {% for info in company.campus_information| slice(0, 3)%}
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="feature__item mb-30 transition-3 white-bg">
                            <div class="feature__icon mb-30">
                                <img src="{{ info.img| media }}" alt="This is the icon image">
                            </div>
                            <div class="feature__content">
                                <h3 class="feature__title-1"><a href="contact.html">{{ info.title }}</a></h3>
                                <p class="feature__paragraph">{{ info.exerpt| raw }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!--================= Feature Section End Here =================-->

        <!--================= Counter Section Start Here =================-->
        <div class="count__area">
            <div class="container count__width">
                <div class="row">
                    <div class="col-xxl-11 col-xl-11 col-lg-11 offset-lg-1">
                        <div class="row">
                            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                <div class="count__content">
                                    <h3 class="count__content--title-1 counter">10</h3>
                                    <h3 class="count__content--title-2">K</h3>
                                    <span class="count__content--plus">+</span>
                                    <p class="count__content--paragraph">Students worldwide</p>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                <div class="count__content">
                                    <h3 class="count__content--title-1 counter">45</h3>
                                    <h3 class="count__content--title-2">K</h3>
                                    <span class="count__content--plus">+</span>
                                    <p class="count__content--paragraph">University worldwide</p>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                <div class="count__content">
                                    <h3 class="count__content--title-1 counter">28</h3>
                                    <h3 class="count__content--title-2">K</h3>
                                    <span class="count__content--plus">+</span>
                                    <p class="count__content--paragraph">Academic worldwide</p>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                                <div class="count__content">
                                    <h3 class="count__content--title-1 counter">74</h3>
                                    <h3 class="count__content--title-2">K</h3>
                                    <span class="count__content--plus">+</span>
                                    <p class="count__content--paragraph">Total worldwide</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--================= Counter Section End Here =================-->

        <!--=================  Event Section Start Here ================= -->
        {% partial 'events' %}
        <!--=================  Event Section End Here ================= -->

    </div>
</div>