url = "/"
layout = "default"
title = "Home"
==
<div class="back-wrapper">
    <div class="back-wrapper-inner language-school-page">
        <!--================= Slider Section Start =================-->
        
        <div class="back-slider-part">
            <div class="home-slider-part home2 owl-carousel owl-loaded owl-drag">


                <div class="owl-stage-outer">

                    <div class="owl-stage" >
                        {% for slide in sliders.slider %}
                        <div class="owl-item" style="width: 1282px;">
                            <div class="single-slide">
                                <div class="slider-img">
                                    <img class="desktop" src="{{ slide.image| media }}" alt="Slider Image 1">
                                    <img class="mobile" src="{{ slide.mobile_img| media }}" alt="Slider Image 1">
                                </div>
                                <div class="container">
                                    <div class="slider-content">
                                        <div class="content-part">
                                            <span class="slider-pretitle">Welcome to Dlear</span>
                                            <h2 class="slider-title">
                                                {{ slide.title }}
                                            </h2>
                                            <p class="slider-desc">
                                                {{ slide.subtitle }}
                                            </p>
                                            <div class="slider-btn">
                                                <a href="{{ slide.btn_url }}" class="back-btn-border">{{ slide.btn_txt }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div>
                <div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div>
            </div>
        </div>
        <!--================= Slider Section End Here =================-->

        <!--=================  About Section Start Here ================= -->
        {% partial 'about_section'%}

        <!--================= About Section End Here ================= -->

        <!--================= Brand Section Start Here =================-->
        {% partial 'brands'%}
        <!--================= Brand Section End Here =================-->

        <!--================= Course Filter Section Start Here =================-->
        <div class="back-course-filter pb-100 pt-120">
            <div class="container">
                <div class="row d-flex align-items-end">
                    <div class="col-lg-5">
                        <div class="back__title__section text-left">
                            <h6 class="back__subtitle">Online Course</h6>
                            <h2 class="back__tittle"> {{course.exerpt }} </h2>
                        </div>
                    </div>
                    <div class="col-lg-7 text-right">
                    </div>
                </div>

                <div class="row back-grid" style="position: relative; height: 608.266px;">
                    {% partial 'courses' %}
                    
                </div>
            </div>
        </div>
        <!--================= Course Filter Section End Here =================-->

        <!--=================  Event Section Start Here ================= -->
        {% partial 'events' %}
        <!--=================  Event Section End Here ================= -->

        <!--================= Instructor Section Start Here =================-->
        {% partial 'team'%}
        <!--================= Instructor Section End Here =================-->

        <!--================= Clients Section Start Here =================-->
        <div class="back-clients pt-120 pb-120">
            <div class="container">
                <div class="back__title__section text-center">
                    <h6 class="back__subtitle">Testimonials</h6>
                    <h2 class="back__tittle"> Student Community <br>Feedback </h2>
                </div>
                <div class="container">
                    <div class="client-slider owl-carousel owl-loaded owl-drag">



                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(-1005px, 0px, 0px); transition: all 0s ease 0.25s; width: 3518px;">
                                {% for testimonial in company.testimonials %}
                                <div class="owl-item" style="width: 472.5px; margin-right: 30px;">
                                    <div class="single-client">
                                        <div class="client-bottom">
                                            <div class="testimonial__ratings">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                <span>{{testemonial.stars }}</span>
                                            </div>
                                            <span class="client-author"><img src="{{testimonial.image| media }}" alt="Testimonials"> </span>
                                        </div>
                                        <span class="client-title">{{ testimonial.name }} <em> {{ testimonial.profession }}</em></span>
                                        <div class="client-content">{{ testimonial.text }}</div>
                                    </div>
                                </div>
                                {% endfor %}
                                
                            </div>
                        </div>
                        <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div>
                        <div class="owl-dots disabled"></div>
                    </div>
                </div>
                <div class="text-center pt-50">
                    <a href="languages-school.html#" class="back-btn">See all Feedback</a>
                </div>
            </div>
        </div>
        <!--================= Clients Section End Here =================-->

        <!--================= Newsletter Section Start Here =================-->
        {% partial 'subscribe_form'%}
        <!--================= Newsletter Section End Here =================-->
    </div>
</div>