<div class="about__area about2__area p-relative mb-130 pt-120">
    <div class="container about__area-width">
        <div class="row">
            <div class="col-lg-5">
                <div class="about__image">
                    <img class="back__shape__1" src="{{'assets/images/about/dots2.png'| theme }}" alt="Shape Image">
                    <img src="{{company.image| media }}" alt="About">
                    <img class="back__shape__2" src="{{'assets/images/about/dots1.png'| theme }}" alt="Shape Image">
                </div>
            </div>
            <div class="col-lg-7 pl-70 sm-pl-15">
                <div class="about__content">
                    <h6>Everything In Dlear</h6>
                    <h2 class="about__title">{{company.about_title| raw }}</h2>
                    <p class="about__paragraph">{{company.about_subtitle| raw }}</p>
                    <ul>
                        {% for icon in company.about_icons %}
                        <li><i class="{{icon.logo_name}}"></i> {{icon.logo_txt }}</li>
                        {% endfor %}
                    </ul>
                    <div class="about__btn pt-30">
                        <a href="languages-school.html#" class="back-btn-border"> University Overview </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>