<div class="brand__area back-logo-area">
    <div class="container brand__width">
        <div class="row">
            <div class="col-xxl-12">
                <div class="brand__content text-center">
                    <img src="{{'assets/images/logo-carousel/icon/01.png'| theme }}" alt="">
                    <h3 class="brand__title">Trusted by Teams at</h3>
                    <img src="{{'assets/images/logo-carousel/icon/02.png'| theme }}" alt="">
                </div>
            </div>
        </div>
        <div class="brand__slider">
            <div class="brand__item">
                <img src="{{'assets/images/logo-carousel/01.png'| theme }}" alt="Brand icon">
            </div>
            <div class="brand__item">
                <img src="{{'assets/images/logo-carousel/02.png'| theme }}" alt="Brand icon">
            </div>
            <div class="brand__item">
                <img src="{{'assets/images/logo-carousel/03.png'| theme }}" alt="Brand icon">
            </div>
            <div class="brand__item">
                <img src="{{'assets/images/logo-carousel/04.png'| theme }}" alt="Brand icon">
            </div>
            <div class="brand__item">
                <img src="{{'assets/images/logo-carousel/05.png'| theme }}" alt="Brand icon">
            </div>
        </div>
    </div>
</div>