<div class="instructor__area {% if this.page.id == 'instructor'%}instructor__area__instructor_page pt-113 pb-98 {% else %} pt-95 pb-95 {% endif %}text-center">
    <div class="container instructor__width">
        <div class="row">
            <div class="col-xxl-7 offset-xxl-2 col-xl-7 offset-xl-2 col-lg-7 offset-lg-2">
                <div class="instructor__title-content text-center pb-20">
                    <span class="instructor__pre-title">Course Instructors</span>
                    <h2 class="instructor__title">Meet our class Instructors</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% if this.page.id =='home'%}
                {% for member in teams|slice(0, 8) %}

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="instructor__content">
                        <div class="instructor__content-1">
                            <img src="{{ member.teacher_img| media }}" alt="course instructor picture">
                        </div>
                        <div class="instructor__content-2">
                            <h4>
                                <a href="languages-school.html">{{ member.name }}</a>
                            </h4>
                            <p>{{ members.position }}</p>
                        </div>
                        <div class="instructor__content-3">
                            <ul>
                                {% for logo in member.socials %}
                                <li><a href="{{ logo.url }}"><span aria-hidden="true" class="{{logo.socials_name}}"></span></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                {% for member in teams %}
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="instructor__content">
                        <div class="instructor__content-1">
                            <img src="{{ member.teacher_img| media }}" alt="course instructor picture">
                        </div>
                        <div class="instructor__content-2">
                            <h4>
                                <a href="languages-school.html">{{ member.name }}</a>
                            </h4>
                            <p>{{ members.position }}</p>
                        </div>
                        <div class="instructor__content-3">
                            <ul>
                                {% for logo in member.socials %}
                                <li><a href="{{ logo.url }}"><span aria-hidden="true" class="{{logo.socials_name}}"></span></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
    </div>
</div>