<header id="back-header" class="back-header back-header-three header-profile">
    <div class="menu-part">
        <div class="container">
            <!--================= Start Back Menu =================-->
            <div class="back-main-menu">
                <nav>
                    <!--================= Menu Toggle btn =================-->
                    <div class="menu-toggle">
                        <div class="logo"><a href="{{'home'| page }}" class="logo-text"> <img src="{{ company.logo }}" alt="logo"> </a></div>
                        <button type="button" id="menu-btn">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!--================= Menu Structure =================--> 
                    <div class="back-inner-menus">
                        <ul id="backmenu" class="back-menus back-sub-shadow">
                            <li class="mega-inner"> <a href="{{'home'| page }}">Home</a>
                            </li>
                            <li class="has-sub"><span class="arrow "></span> <a href="404.html#">Pages</a>
                                <ul class="sub-menu" style="display: none;">
                                    <li> <a href="{{'about'| page }}">About</a></li> 
                                    <li> <a href="{{'instructor'| page }}">Instructor</a></li> 
                                    <li> <a href="profile.html">Profile</a></li> 
                                    <li> <a href="login.html">Sign In</a></li> 
                                    <li> <a href="signup.html">Sign Up</a></li> 
                                </ul>
                            </li>                                                                   
                            <li class=""><a href="{{ 'courses/courses'| page }}">Courses</a>
                            </li>
                            <li class=""><a href="{{'blog/blog'| page }}">Blog</a>
                            </li>
                            <li class=""> <a href="{{'contact'| page }}">Contact</a></li>
                        </ul>                               
                        <div class="searchbar-part">
                            <div class="back-login">
                                <a href="login.html"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-unlock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 9.9-1"></path></svg>
                                Log In</a>
                            </div>
                            <a href="signup.html" class="back-btn">Join for free</a>
                        </div>
                    </div>
                </nav>
            </div>
            <!--================= End Back Menu =================-->
        </div>
    </div>
</header>