<header id="back-header" class="back-header back-header-three back-inner-header">
    <div class="menu-part">
        <div class="container">
            <!--================= Start Back Menu =================-->
            <div class="back-main-menu">
                <nav>
                    <!--================= Menu Toggle btn =================-->
                    <div class="menu-toggle">
                        <div class="logo"><a href="index.html" class="logo-text"> <img src="assets/images/logo-light.png" alt="logo"> </a></div>
                        <button type="button" id="menu-btn">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!--================= Menu Structure =================--> 
                    <div class="back-inner-menus">
                        <ul id="backmenu" class="back-menus back-sub-shadow">
                            <li class="mega-inner"><a href="{{'home'| page }}">Home</a></li>
                            <li class="has-sub"><span class="arrow "></span> <a href="instructor.html#">Pages</a>
                                <ul class="sub-menu" style="display: none;">
                                    <li class=""> <a href="{{'about'| page }}">About</a></li> 
                                    <li> <a href="{{'instructor'| page }}" class="back-current-page">Instructor</a></li> 
                                    <li class=""> <a href="{{'profile'| page }}">Profile</a></li> 
                                    <li class=""> <a href="{{'registration/log_in'| page }}">Sign In</a></li> 
                                    <li class=""> <a href="{{'registration/sign_up'| page }}">Sign Up</a></li> 
                                </ul>
                            </li>                                                                   
                            <li class=""><a href="{{ 'courses/courses'| page }}">Courses</a></li>
                            <li class=""><a href="{{'blog/blog'| page }}">Blog</a></li>
                            <li class=""> <a href="{{'contact'| page }}">Contact</a></li>
                        </ul>                                
                        <div class="searchbar-part">
                            {% if not user %}                           
                            <div class="back-login">
                                <a href="{{'registration/log_in'| page }}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-unlock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 9.9-1"></path></svg>
                                Log In</a>
                            </div>
                            <a href="{{'registration/sign_up'| page }}" class="back-btn">Join for free</a>
                            {% else %}
                            <a data-request="onLogout" data-request-data="redirect: '/'" class="back-btn" style="cursor: pointer">Sign out</a>
                            {% endif %}
                        </div>
                    </div>
                </nav>
            </div>
            <!--================= End Back Menu =================-->
        </div>
    </div>
</header>